body{
  font-family: Arial;
  background:#f2f2f2;
  margin:0;
  padding:20px;
}

.container{
  max-width:700px;
  margin:auto;
  background:white;
  padding:20px;
  border-radius:10px;
}

.cover{
  width:100%;
  border-radius:10px;
  margin-bottom:15px;
}

.buttons{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:15px;
}

.btn{
  padding:12px;
  border-radius:6px;
  text-decoration:none;
  color:white;
  text-align:center;
}

.view{background:#007bff;}
.boosty{background:#ff7a00;}
.donate{background:#ff4d4d;}
.tg{background:#229ED9;}

form input, form button{
  width:100%;
  padding:10px;
  margin-top:10px;
  border-radius:5px;
  border:1px solid #ccc;
}

form button{
  background:#28a745;
  color:white;
  border:none;
}

.note{
  margin-top:10px;
  color:#555;
}
